*{
  margin:0;
  padding:0;
  color:rgba(60,30,0,1);
  border-color: rgba(60,30,0,1);
  font-family:serif;
}

body,html{
  width:100%;
  height:100%;
}

.container{
  width:100%;
  max-width:1000px;
  margin:0 auto;
}

.free{
  clear:left;
  clear:right;
}

/*----------------------------------------------------------------*/
html,body{
  background-color:rgba(150,110,80,1);
  text-align: center;
}

h1{font-family:sans-serif; font-size: 50px; line-height:50px; font-weight: bold;}
h2{font-size: 25px; line-height:35px; font-weight: bold;}
h3{font-size:30px; line-height: 30px; font-weight: bold;}
p{font-size: 16px; line-height: 16px;}
/*ここからヘッダーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
header{
  position: fixed;
  top:0;
  padding:30px 0 10px 0;
  height:100px;
  width:100%;
  background-color:rgba(255,255,255,0.5);
}

header h1{
  display:inline-block;
}

h1 span{
  font-size:30px;
  line-height: 30px;
}
/*ここからformーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*ここからmenuーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.class{
  margin-top:150px;
}

.type{
  display: inline-block;
  margin:60px;
  width:150px;
  border-bottom: dashed 1px;
}

.name{
  display: inline-block;
  margin:
}

.comment{
  margin-top:15px;
  margin-bottom:10px;
}

select{
  height:30px;
  width:150px;
  margin-bottom:60px;
  letter-spacing: 5px;
}

.button{
  width:150px;
  height:30px;
  margin-bottom:60px;
  border:solid 1px ;
  border-radius: 0 10px 10px 0;
}

.space{
  display: inline-block;
  height:30px; width:80%;
  border-bottom: solid 2px rgba(60,30,0,1);
}
